// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #6c5ce7;
$secondary : #fdcb6e;
$accent    : #a29bfe;

$dark      : #2d3436;

$positive  : #00b894;
$negative  : #d63031;
$info      : #0984e3;
$warning   : #ffeaa7;
